services:
  mariadb:
    build: ./requirements/mariadb
    image: mariadb:11.0
    container_name: mariadb
    env_file:
      - .env
    secrets:
      - db_root_password
      - db_password
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception
    restart: always

  wordpress:
    build: ./requirements/wordpress
    image: wordpress:6.5-php8.2-apache
    container_name: wordpress
    depends_on:
      - mariadb
    env_file:
      - .env
    secrets:
      - db_password
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception
    restart: always
  
  nginx:
    build: ./requirements/nginx
    image: nginx:1.21
    container_name: nginx
    depends_on:
      - wordpress
    env_file:
      - .env
    ports:
      - "8443:443"
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception
    restart: always

secrets:
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_password:
    file: ../secrets/db_password.txt

volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      device: /home/kosakats/data/mariadb
      o: bind
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      device: /home/kosakats/data/wordpress
      o: bind

networks:
  inception:
    driver: bridge
